<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
		
		<setting name="autoMappingBehavior" value="FULL" />
	</settings>
	<typeAliases>
		<package name="com.cxk.MSS.entity"></package>
	</typeAliases>
	<!-- 配置mybatis的运行环境 -->
	<!-- <environments default="development">
		<environment id="development">
			配置事务管理，采用JDBC的事务管理
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/easybuy" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments> -->
	<mappers>
			<package name="com.cxk.MSS.dao"></package>
	</mappers>
</configuration>
